body{
  margin: 0;
  padding: 0;

}
.AgeDefinerInput{
  width: 240px;
}
.AgeDefinerInput:invalid{
  border: red solid 3px;
}
#AgeDefinerBlock{
  display: flex;
  flex-direction: row;
}

section{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.cat{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.human{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}